/*Estilos Gerais*/
* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #aaa;
}


/*Formulário*/
#formulario {
    max-width: 40%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 1.1em;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus {
    border: 3px solid #555;
}

input::placeholder {
    font-weight: bold;
}

hr {
    border: 1px solid white;
    border-radius: 1px;
}

button.btn-cadastro {
    text-align: center;
    position: relative;
    width: 150px;
    left: calc(50% - 75px);
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #eee;
    border: 3px solid #ccc;
    border-radius: 10px;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
}

button.btn-cadastro:hover {
    border: 3px solid #555;
}

button.btn-cadastro:active {
    background-color: #bbb;
}


/*Barra de Navegação*/
#barra-navegacao {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 15px;
    border-bottom: 3px solid #ddd;
}

button.btn-navegacao {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #eee;
    border: 3px solid #ccc;
    border-radius: 10px;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
}

button.btn-navegacao:hover {
    border: 3px solid #555;
}

button.btn-navegacao:active {
    background-color: #bbb;
}
