/*Estilos Gerais*/
* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #aaa;
}


#lista-produtos {
    width: 60%;
    margin: auto;
}

h1 {
    text-align: center;
}


/*Lista de Produtos*/
#tb-produtos {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid black;
    border-collapse: collapse;
    width: 100%;
}

#tb-produtos td, #tb-produtos th {
    border: 1px solid #444;
    padding: 8px;
    text-align: center;
}

#tb-produtos tr:nth-child(even){
    background-color: #f2f2f2;
}

#tb-produtos tr:nth-child(odd){
    background-color: #ddd;
}

#tb-produtos th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}

button.btn-atualizar {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
    background-color: #eee;
    border: 3px solid #ccc;
    border-radius: 10px;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
}

button.btn-atualizar:hover {
    border: 3px solid #555;
}

button.btn-atualizar:active {
    background-color: #bbb;
}


/*Barra de Navegação*/
#barra-navegacao {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 15px;
    border-bottom: 3px solid #ddd;
}

button.btn-navegacao {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #eee;
    border: 3px solid #ccc;
    border-radius: 10px;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
}

button.btn-navegacao:hover {
    border: 3px solid #555;
}

button.btn-navegacao:active {
    background-color: #bbb;
}
